body {
    font-family: 'Roboto', sans-serif;
    color: #004074;
    background-color: #f3f4f6;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-bottom: 2px solid #e6e6e6;
    position: relative;
    height: 5em;
}

.header-left,
.header-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header-left {
    left: 16px;
}

.header-left img {
    width: 4em;
}

.header-right {
    right: 16px;
    
}

.header-right img {
    width: 4em;
}

.logo {
    width: 50px;
    height: auto;
}

.main-section {
    padding: 1em;
}

.titulo {
    border-bottom: 2px solid #004074;
    padding-bottom: 4px;
    margin-bottom: 15px;
    margin-top: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    line-height: 1.2;
}


.subtitulo {
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 3em;
}

.mensaje-gracias {
    font-size: 2.4em;
    font-weight: 500;
    text-align: center;
}

.boton {
    display: flex;
}

button {
    all: unset;
    font-weight: 600;
    padding: 0.9rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    letter-spacing: 1px;
    text-align: center;
    width: 90%;
    max-width: 100%;
}

.boton-volver {
    background-color: #004074;
    color: white;
    margin-top: 5em;
    font-size: 20px;
}

.boton-volver:hover {
    background-color: #00335c;
}


@media screen and (min-width: 768px) {
    body {
        padding: 0 10%;
    }

    button {
        width: 100%;
    }
}