body {
    font-family: 'Roboto', sans-serif;
    color: #004074;
    background-color: #f3f4f6;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-bottom: 2px solid #e6e6e6;
    position: relative;
    height: 5em;
}

.header-left,
.header-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header-left {
    left: 16px;
}

.header-left img {
    width: 4em;
}

.header-right {
    right: 16px;
    
}

.header-right img {
    width: 4em;
}

.logo {
    width: 50px;
    height: auto;
}

.review-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6em;
}

.card {
    background: #fff;
    width: 90%;
    padding: 20px;
    padding-top: 60px;
    border-radius: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: center;
}

.foto-perfil {
    width: 100px;
    position: absolute;
    top: -50px;
    transform: translateX(-50%);
}

.titulo {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #003F73;
    font-weight: bold;
}

.subtitulo {
    color: #666;
    font-size: 18px;
    margin-bottom: 12px;
}

.estrellas img {
    width: 12em;
}

.comentario {
    font-weight: bold;
    font-size: 16px;
    color: #003F73;
    margin-bottom: 10px;
}

.comentario-caja {
    width: 100%;
    height: 10em;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 14px;
}

.agregar-favorito {
    width: 90%;
}

.boton-favorito {
    margin-top: 3em;
    width: 100%;
    padding: 12px;
    border: 2px solid #003F73;
    background: white;
    color: #003F73;
    font-weight: bold;
    border-radius: 12px;
}

.boton-favorito:hover {
    background-color: #f5f5f5;
}

.icono-favorito {
    width: 1.6em;
    margin-left: 6px;
    padding-bottom: 3px;
}

.botones {
    width: 90%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.boton-omitir {
    width: 48%;
    background: #004074;
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

.boton-omitir:hover {
    background-color: #00335c;
}

.boton-enviar {
    width: 48%;
    padding: 14px;
    background: #B8F878;
    color: #003F73;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

.boton-enviar:hover {
    background-color: #51ad55;
    color: white;
}