*{
    margin: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f3f4f6;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-bottom: 2px solid #e6e6e6;
    position: relative;
}

.header-left,
.header-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header-left {
    left: 16px;
}

.header-left img {
    width: 3em;
}

.header-right {
    right: 16px;
}

.logo {
    width: 50px;
    height: auto;
}
.title, .subtitle, .promedio, .resenias, .data{
    color: #004074;
}
.main{
    padding: 1em;
}
.desempenio{
    margin: 0em 1em;
}
.title{
    font-size: 18px;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 700;
}
.subtitle{
    font-size: 16px;
    font-family: "Segoe UI", Arial, sans-serif;
}
p, span{
    font-size: 15px;
}
.bajada{
    margin: 1em 0em;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: normal;
}
.resenias-section{
    display: flex;
    flex-direction: row;
    gap: 1em
}
.puntuacion-contenedor{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.estrellitas{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.promedio{
    font-size: 48px;
    font-weight: bold;
}
.actividad{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0em 1em;
    align-items: start;
    max-width: 100%;
}
.cantHoras-contenedor{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 100%;
}
.cantHoras{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(181, 187, 196, 0.25);
    border-radius: 3em;
    gap: 1em;
    padding: 0.7em;
    width: fit-content;
}
.cantHoras-button{
    border-color: transparent;
    background: transparent;
    border-radius: 2em;
    padding: 0.7em 1em;
    color: #646d79ab;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}
.cantHoras-button.activo{
    background: #fff;
    color: #000;
}
.cantHoras_contenedor-grafico{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    padding: 0px 20%;
    height: 300px;
}
.cantHoras_-grafico{
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
}

.solicitudes{
    display: flex;
    flex-direction: row;
    margin: 0em 1em;
    gap: 4em;
}
.solicitudes-contenedor{
    display: flex;
    flex-direction: column;
    margin: 1em 0em;
    gap: 1em;
    max-width: 100%;
}
.primero{
    width: 40%;
}
.solicitudes-contenedor-primero{
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 100%;
}
.solicitud{
    background-color: #fff;
    width: fit-content;
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
    border-radius: 2em;
    border: 1px solid  rgb(0, 0, 0, 0.15);
    padding: 0em 1em;
    box-shadow: 3px 4px 4px rgb(0, 0, 0, 0.15);
    transition: 0.3s;
    cursor: pointer;
}
.solicitud.activoAceptadas{
    box-shadow: none;
    border-color: #9AD97A;
    pointer-events: none;
}
.solicitud.activoRechazadas{
    box-shadow: none;
    border-color: #eb8484;
    pointer-events: none;
}
#rechazadas-button:hover{
    border-color: rgb(235, 132, 132);
    box-shadow: 3px 4px 4px rgb(235, 132, 132, 0.15);
}
#aceptadas-button:hover{
    border-color: rgb(154, 217, 122);
    box-shadow: 3px 4px 4px rgb(154, 217, 122, 0.15);
}
.solicitud-principio{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.2em;
    font-size: 20px;
    font-weight: 500;
    color: #646D79;
}
.cantSolicitudes{
    font-weight: bold;
    font-size: 15px;
}
.tick{
    width: 37px;
    height: 37px;
    fill:#b4eb84;
}

.cancel{
    width: 37px;
    height: 37px;
    fill: #eb8484;
}

.stars{
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 1px;
}
.stars-item{
    width: 31px;
    height: 30px;
}
.line{
    width: 100%;
    height: 2px;
    background-color: #004074;
}
.line-resenia{
    width: 100%;
    height: 2px;
    background-color: #82CFEB;
}

.solicitudesAceptadas-contenedor{
    max-width: 100%;
    width: 50%;
    height: auto;
    box-sizing: border-box;
    aspect-ratio: 1;
}
.segundo{
    display: flex;
    flex-direction: row;
    gap: 3em;
    width: 70%;
}
.solicitudesAceptadas-grafico{
    width:100% !important;
    height: 100% !important;
}
.resenias-contenedor{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 1em;
    margin-bottom: 0;
    max-width: 100%;
}
.perfil{
    width: 40px;
    height: 40px;
}
.resenia-perfil{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}
.resenia-valoracion{
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: fit-content;
    align-items: center;
    font-size: 12px;
}
.starsMini{
    width:fit-content;
}
.starsMini-item{
    width: 14px;
    height: 13px;
}
.reseniasEscritas{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reseniasEscritas-contenedor{
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.resenias{
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}
.resenia{
    padding: 0em 1em;
}
.valoracionGeneral{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0em 1em;
    align-self: flex-start;
    max-width: 100%;
}
.valoracion-contenedor{
    display: grid;
    grid-template-columns: auto 1fr auto;
    width: 100%;
    gap: 2em;
    align-items: center;
}
.valoracion-grafico{
    height: 200px !important; 
    width: 100% !important;
}
.caracteristicas-item, .niveles-item{
    color: #004074;
    font-weight: 500;
    font-size: 14px;
}
.caracteristicas, .niveles{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding-bottom: 9px;
    box-sizing: border-box;
}
.descargar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3em 0em;
}
.descargar-button{
    background-color: #004074;
    color: #fff;
    border-radius: 2em;
    padding: 0.7em 5em;
    border-color: transparent;
    transition: 0.3s;
    align-items: center;
    cursor: pointer;
}
.descargar-button:hover {
    background-color: #002646;
}

.leyenda{
    display: flex;
    align-items: center;
    color: #646D79;
}

.leyenda-custom {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 12px;
  height: fit-content;
}

.leyenda-custom .item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.leyenda-custom .color {
  width: 14px;
  height: 14px;
  display: inline-block;
}

.c1 { background: #82CFEB; }
.c2 { background: #D55EED; }
.c3 { background: #FFA979; }
.c4 { background: #EB7575; }
.c5 { background: #ACEB75; }
.c6 { background: #EC75B3; }
.c7 { background: #C998F7; }
.c8 { background: #F3D353; }

@media screen and (min-width: 768px) {
    body {
        padding: 0 10%;
    }
}

@media screen and (max-width: 425px){
    .cantHoras_contenedor-grafico{
        padding: 0;
    }
    .solicitud{
        height: 50px;
        justify-content: flex-start;
        gap: 2px;
    }
    .solicitudes-contenedor-primero{
        flex-direction: row;
    }
    .solicitudes{
        flex-direction: column;
        gap: 0;
    }
    .solicitud-principio{
        gap: 5px;
    }
    .cancel, .tick{
        width: 25px;
        height: 25px;
    }
    .solicitudesAceptadas-contenedor{
        width: 60%;
    }
    .leyenda{
        display: none;
    }
    .segundo{
        width: 100%;
        gap: 0;
        align-items: center;
        flex-direction: column;
    }
}