body {
    font-family: 'Roboto', sans-serif;
    color: #004074;
    background-color: #f3f4f6;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-bottom: 2px solid #e6e6e6;
    position: relative;
    height: 5em;
}

.header-left,
.header-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header-left {
    left: 16px;
}

.header-left img {
    width: 4em;
}

.header-right {
    right: 16px;
    
}

.header-right img {
    width: 4em;
}

.logo {
    width: 50px;
    height: auto;
}

.main-section {
    padding: 1em;
}

.titulo {
    border-bottom: 2px solid #004074;
    padding-bottom: 4px;
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.subtitulo {
    font-size: 16px;
    margin-bottom: 10px;
}

.voluntario-contenedor {
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.voluntario-foto {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.voluntario-foto img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
}

.voluntario-nombre {
    text-align: center;
    color: #004074;
    margin-bottom: 5px;
    font-size: 19px;
    font-weight: bold;
}

.voluntario-estrellas {
    text-align: center;
    margin-bottom: 15px;
}

.info-row {
    margin-bottom: 6px;
    font-size: 15px;
}

.info-label {
    font-weight: bold;
    color: #004074;
}

.botones {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.boton-secundario {
    background: #004074;
    color: #fff;
    border: none;
    padding: 5px 18px;
    border-radius: 8px;
    margin-right: 10px;
    flex: 1;
    font-weight: bold;
    cursor: pointer;
}

.boton-secundario:hover{
    background: #00335c;
}

.boton-primario {
    background: #c6f780;
    color: #004074;
    border: none;
    padding: 12px 18px;
    border-radius: 8px;
    flex: 1;
    font-weight: bold;
    cursor: pointer;
}

.boton-primario:hover {
    background: #51ad55;
}

.cambiar-solicitud {
  text-align: center;
  padding-top: 2em;
}

.cambiar-solicitud a {
  color: #004074;
  text-decoration: underline;
  font-size: 15px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
    body {
        padding: 0 10%;
    }

    .card {
        margin: 20px auto;
    }
}