.top-bar {
  background-color: #4CAF50;
  color: white;
}

.w3-input, .w3-check {
  font-size: 15px;
}

h2 {
  margin-top: 0;
  font-weight: bold;
}

.w3-border input[type="file"] {
  border: none;
  background: transparent;
}

button.pami-login {
  background-color: #0072CE;
  color: white;
  border: none;
}

button.pami-login:hover {
  background-color: #005fa3;
}

/* Modal de accion ingresar */
.w3-modal-content {
  border-radius: 12px;
  overflow: hidden;
}

.w3-modal input {
  font-size: 14px;
}

.w3-modal button {
  font-weight: bold;
}

/* Adaptación para resolución web */

@media (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #formAyuda, #formVoluntario {
    width: 60%;
    max-width: 700px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 12px;
    padding: 48px;
    margin-top: 40px;
  }

  .w3-container.w3-padding {
    position: absolute;
    left: 40px;
    top: 20px;
  }

  .top-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 40px;
  }

  .top-bar .w3-bar-item {
    padding: 16px 24px;
  }
  
  footer.w3-container.w3-teal.w3-center.w3-padding {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3em;
    position: static;
  }

  #boton_volver{
    margin-top: 5em;
  }
}

@media (min-width: 1024px) {
  #formAyuda, #formVoluntario {
    width: 50%;
    padding: 64px;
  }
}